In [15]:
# importando bibliotecas necessárias
import pandas as pd

In [16]:
#Subindo a base dos dados:
df = pd.read_csv('https://raw.githubusercontent.com/camimq/machine_learning_and_time_series/main/02_machine_learning_avancado/bases/Frutas.csv', sep=';')

In [17]:
df.head() #visualizando os dados

           Fruta  Calorias
0        Abacaxi        48
1          Amora        43
2        Abacate       160
3   Banana-prata        89
4  Banana-nanica        92

In [18]:
from sklearn.preprocessing import LabelEncoder #importando LabelEncoder

In [19]:
# Instanciando o labelencoder
labelencoder = LabelEncoder()

In [20]:
# Atribuindo valores numéricos e armazenando em outra coluna
df['CategoriasFrutas'] = labelencoder.fit_transform(df['Fruta'])

In [21]:
df.head() #visualizando o resultado com labelencoder

           Fruta  Calorias  CategoriasFrutas
0        Abacaxi        48                 1
1          Amora        43                 4
2        Abacate       160                 0
3   Banana-prata        89                 7
4  Banana-nanica        92                 6

## One Hot Enconding / Dummies

In [22]:
# criando a classificação binária por tipo de categoria
dum_df = pd.get_dummies(df, columns=["Fruta"])

In [23]:
dum_df

,Calorias,CategoriasFrutas,Fruta_Abacate,Fruta_Abacaxi,Fruta_Acerola,Fruta_Ameixa,Fruta_Amora,Fruta_Banana-maçã,Fruta_Banana-nanica,Fruta_Banana-prata,Fruta_Caju,Fruta_Caqui,Fruta_Carambola,Fruta_Cereja congelada,Fruta_Figo,Fruta_Framboesa
0,48,1,False,True,False,False,False,False,False,False,False,False,False,False,False,False
1,43,4,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,160,0,True,False,False,False,False,False,False,False,False,False,False,False,False,False
3,89,7,False,False,False,False,False,False,False,True,False,False,False,False,False,False
4,92,6,False,False,False,False,False,False,True,False,False,False,False,False,False,False
5,89,5,False,False,False,False,False,True,False,False,False,False,False,False,False,False
6,46,11,False,False,False,False,False,False,False,False,False,False,False,True,False,False
7,70,9,False,False,False,False,False,False,False,False,False,True,False,False,False,False
8,31,10,False,False,False,False,False,False,False,False,False,False,True,False,False,False
9,43,8,False,False,False,False,False,False,False,False,True,False,False,False,False,False
10,46,3,False,False,False,True,False,False,False,False,False,False,False,False,False,False
11,32,2,False,False,True,False,False,False,False,False,False,False,False,False,False,False
12,74,12,False,False,False,False,False,False,False,False,False,False,False,False,True,False
13,52,13,False,False,False,False,False,False,False,False,False,False,False,False,False,True